body {
    background-color: pink;
    width: 50%;
    margin: auto;
    text-align: center;
}

/*CLASSES*/

.lists {
    text-align: left;
    border: 5px;
    border-color: aquamarine text-color: blue;
}

.Header {
    width: 750px;
    border: 10px rgb(255, 0, 43);

}

.Resume {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right
}

/*IDs*/

h1 {
    font-size: xx-large;
    font-family: sans-serif;
    color: hotpink
}