body {
    background-color: pink;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: left;
}

/*CLASSES*/

.images {
    width: 275px;
    padding: 5%;
    border-image: 5px;
    border-color: black;
    outline: 10px solid black;
    outline-style: dotted;
    margin: 5%;
}

.list {
    text-align: left;
    padding: 10%;
    border: 5px solid rgb(255, 0, 0);

}

.Heading {
    width: 100%;
    text-align: center;
    border: 50px;
    border-color: black;
}

/*IDs*/

p {
    text-indent: 50px;
}

h1 {
    font-size: xx-large;
    font-family: sans-serif;
    color: hotpink
}

#float1 {
    float:left;
    display:flow-root;

}

#clear {
    clear:both;
}